#########################
#Project specific ignores
#########################

*.zip
credentials.csv
secrets.json
*.pickle

# Additional note!
# the /data folder (for storing flat data files) and the /logs folder each have their own .gitignore file located in the folder
# This is so that the folder will be created when cloning, but the data in those folders won't be tracked by Git
